.progress-bar {
  width: 711px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width:711px) {
  .progress-bar {
    width: 100%;
  }
}

.header {
  background-color: var(--main-color);
  min-height: 100px;
}

.header__container {
  width: 300px;
  padding: 1em 0;
  margin-left: auto;
  margin-right: auto;
}

.header__circle {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.header__logo {
  width: 70px;
  margin: auto;
}

.header__logo-string {
  font-size: 1.4em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0.2em 0.5em 0.7em;
  margin: 0;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.main {
  width: 711px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 889px) {

  .header__circle {
    width: 64px;
    height: 64px;
  }

  .header__logo {
    width: 60px;
  }
}

.post-form {
  width: 607px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 607px) {
  .post-form {
    width: 100%;
  }
}

.post-form--flex {
  display: flex;
  justify-content: space-between;
}

.post-form__header {
  text-transform: uppercase;
}

.post-form__header--border {
  border-bottom: 1px solid var(--basic-light);
}

.post-form__header--border:first-child {
  margin-right: 1em;
}

.p1 .placeholder { background-image: url(../img/order/inpost-p.png); }
.p2 .placeholder { background-image: url(../img/order/inpost-c.png); }
.p3 .placeholder { background-image: url(../img/order/dhl.png); }
.p4 .placeholder { background-image: url(../img/order/pp.png); }


.placeholder {
  min-width: 100px;
  min-height: 1.9em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid var(--basic-light);
}

.post-form__item {
  display: flex;
  align-items: center;
  border: 1px solid var(--basic-dark);
  margin: 1em 0;
  padding: 0 1em;
  width: 100%;
  background-color: inherit;
}

.post-form__item:focus {
  border-color: #00de0b;
}

.post-form__item p {
  margin-left: 2em;
  margin-bottom: 1em;
}

.post-message {
  display: flex;
  flex-direction: column;
}

.post-message__label {
  font-size: initial;
  font-weight: bold;
  padding: 1em 0;
  margin-top: 1em;
}

.post-message__textarea {
  font-size: initial;
  padding: 1em;
}

.post-form__data {
  width: 30%;
}

.main--post {
  width: 796px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 796px) {
  .main--post {
    width: 100%;
  }
}

.post-form__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1em;
}

.name { grid-area: 1 / 1 / 2 / 4; }
.surname { grid-area: 2 / 1 / 3 / 4; }
.address { grid-area: 3 / 1 / 4 / 4; }
.postcode { grid-area: 4 / 1 / 5 / 3; }
.city { grid-area: 4 / 3 / 5 / 4; }

.post-form__item--data {
  padding: 1em 0 1em 0.5em;
}

.post-form__payment {
  width: 60%;
}

.payment-gird {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2em;
}

.payment-grid__item {
  border: 1px solid var(--basic-dark);
  min-height: 110px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  cursor: pointer;
  padding: 0;
}

.payment-grid__item:target,
.post-form__item:target {
  border: 2px solid var(--basic-dark);
}

.payment-grid__item--1 { background-image: url(../img/order/payu.png); }
.payment-grid__item--2 { background-image: url(../img/order/dotpay.png); }
.payment-grid__item--3 { background-image: url(../img/order/przelewy24.png); }
.payment-grid__item--4 { background-image: url(../img/order/blik.png); }
.payment-grid__item--5 { background-image: url(../img/order/googlepay.png); }
.payment-grid__item--6 { background-image: url(../img/order/mtransfer.png); }
.payment-grid__item--7 { background-image: url(../img/order/visa.png); }
.payment-grid__item--8 { background-image: url(../img/order/mastercard.png); }
.payment-grid__item--9 { background-image: url(../img/order/traditionalpayment.png); }









.summary {
  margin-top: 2em;
  background-color: #fff;
  border-top: 1px solid var(--basic-light);
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1192px) {
  .summary {
    width: 100%;
  }
}

.summary__container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.summary__summary {
  color: var(--basic-dark);
}

.summary__next-button {
  background-color: #00de0b;
  color: #fff;
  margin: 5px 0;
  min-width: 20%;
  text-align: center;
}

.summary__next-button a {
  padding: 1em;
}