.header {
  background-color: var(--main-color);
  height: 5em;
}

.header__container {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.header__logo-string {
  font-size: 1.4em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0.7em 0.5em;
  margin: 0;
  font-weight: bold;
  color: var(--basic-dark);
  text-align: center;
}

.main {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.post-form {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.post-form--flex {
  display: flex;
  justify-content: space-between;
}

.post-form__header {
  text-transform: uppercase;
}

.post-form__header--border {
  border-bottom: 1px solid var(--basic-light);
}

.post-form__header--border:first-child {
  margin-right: 1em;
}

.placeholder {
  background-color: #666;
  width: 100px;
  height: 2em;
}

.post-form__item {
  display: flex;
  align-items: center;
  border: 1px solid var(--basic-dark);
  margin: 1em 0;
  padding: 0 1em;
  width: 100%;
  background-color: inherit;
}

.post-form__item:focus {
  border-color: #00de0b;
}

.post-form__item p {
  margin-left: 2em;
  margin-bottom: 1em;
}

.post-message {
  display: flex;
  flex-direction: column;
}

.post-message__label {
  font-size: initial;
  font-weight: bold;
  padding: 1em 0;
  margin-top: 1em;
}

.post-message__textarea {
  font-size: initial;
  padding: 1em;
}

.post-form__data {
  width: 30%;
}

.post-form__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1em;
}

.name { grid-area: 1 / 1 / 2 / 4; }
.surname { grid-area: 2 / 1 / 3 / 4; }
.address { grid-area: 3 / 1 / 4 / 4; }
.postcode { grid-area: 4 / 1 / 5 / 3; }
.city { grid-area: 4 / 3 / 5 / 4; }

.post-form__item--data {
  padding: 1em 0 1em 0.5em;
}

.post-form__payment {
  width: 60%;
}

.footer {
  margin-top: 2em;
  border-top: 1px solid var(--basic-light);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.footer__container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.footer__summary {
  color: var(--basic-dark);
}

.footer__next-button {
  background-color: #00de0b;
  color: #fff;
  margin: 5px 0;
  padding: 1em;
  width: 20%;
  text-align: center;
}