.promo__slider {
  position: relative;
  overflow: hidden; /*ukrywam tutaj kolejne części slidera*/
}

.slider__arrow {
  width: 3em;
  height: 3em;
  position: absolute;
  top: 40%;
  cursor: pointer;
}

.slider__arrow--back { left: 0; }
.slider__arrow--next { right: 0; }

.slider__arrow img {
  max-width: 3em;
}

.slider__list {
  /*width: 7152px;*/
  width: 600%;
  max-height: 396px;
  display: flex;
  transition: transform 2s ease-in-out;
}

.slider__item {
  width: 1192px;
  max-height: 396px;
  margin: 0;
  padding: 0;
}

.slider__item img {
  width: 100%;
}

/*.slider__list:hover { transform: translate(-1192px, 0); }*/

@keyframes slideAnimation {
  0% { margin-left: 0; }
  15% { margin-left: 0; }
  20% { margin-left: calc(-1 * 1 * 100%); }
  35% { margin-left: calc(-1 * 1 * 100%); }
  40% { margin-left: calc(-1 * 2 * 100%); }
  55% { margin-left: calc(-1 * 2 * 100%); }
  60% { margin-left: calc(-1 * 3 * 100%); }
  75% { margin-left: calc(-1 * 3 * 100%); }
  80% { margin-left: calc(-1 * 4 * 100%); }
  95% { margin-left: calc(-1 * 4 * 100%); }
  100% { margin-left: calc(-1 * 5 * 100%); }
}

.slider__list {
  animation: slideAnimation 20s  infinite 0.5s both; /* ZWOLNIJ TO POTEM !!! */
}