.promo__slider {
  position: relative;
  overflow: hidden; /*ukrywam tutaj kolejne części slidera*/
}

.slider__arrow{
  cursor: pointer;
  width: 3em;
  height: 3em;
  position: absolute;
  top: 40%;
}

.slider__arrow--back {
  left: 0;
}

.slider__arrow--next {
  right: 0;
}

.slider__arrow img {
  max-width: 3em;
}

.slider__list {
  /*width: 7152px;*/
  width: 600%;
  max-height: 396px;
  display: flex;
  transition: transform 2s ease-in-out;
}

.slider__item {
  width: 1192px;
  max-height: 396px;
  margin: 0;
  padding: 0;
}

.slider_item img {
  width: 100%;
}

.slider__list:hover {
  transform: translate(-1192px, 0);
}

/*
slider - div okalający listę
slides- lista
slide - element
*/
