.promo__slider {
  position: relative;
}

.slider__arrow{
  cursor: pointer;
  width: 3em;
  height: 3em;
  position: absolute;
  top: 40%;
}

.slider__arrow--back {
  left: 0;
}

.slider__arrow--next {
  right: 0;
}

.slider__arrow img {
  max-width: 3em;
}

.slider_list {
  width: 100%;
  height: 396px;
  overflow: hidden;
}

.slider__item {
  display: block;
  width: 1192px;
  height: 396px;
  margin: 0;
  padding: 0;
  float: left;
}

/*
slider - div okalający listę
slides- lista
slide - element
*/